
mvault-api-app/mvault-api-app/bin/Debug/netstandard2.0/mvault-api-app.pdb
mvault-api-app/mvault-api-app/bin/Debug/netstandard2.0/mvault-api-app.dll
mvault-api-app/mvault-api-app/bin/Debug/netstandard2.0/mvault-api-app.deps.json
mvault-api-app/mvault-api-app.sln
mvault-api-app/.vs/mvault-api-app/v16/Server/sqlite3/storage.ide-wal
mvault-api-app/.vs/mvault-api-app/v16/Server/sqlite3/storage.ide-shm
mvault-api-app/.vs/mvault-api-app/v16/Server/sqlite3/storage.ide
mvault-api-app/.vs/mvault-api-app/v16/Server/sqlite3/db.lock
mvault-api-app/.vs/mvault-api-app/v16/.suo
mvault-api-app/mvault-api-app/mvault-api-app.csproj
mvault-api-app/mvault-api-app/obj/project.assets.json
mvault-api-app/mvault-api-app/obj/mvault-api-app.csproj.nuget.g.targets
mvault-api-app/mvault-api-app/obj/mvault-api-app.csproj.nuget.dgspec.json
mvault-api-app/mvault-api-app/obj/mvault-api-app.csproj.nuget.cache
mvault-api-app/mvault-api-app/obj/mvault-api-app.csproj.nuget.g.props
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.pdb
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.dll
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.csprojAssemblyReference.cache
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.csproj.FileListAbsolute.txt
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.csproj.CoreCompileInputs.cache
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.assets.cache
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.AssemblyInfoInputs.cache
mvault-api-app/mvault-api-app/obj/Debug/netstandard2.0/mvault-api-app.AssemblyInfo.cs
